html, body {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    align-items: center;
    justify-content: center;
}

.main-wrapper {
    min-height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cta {
    padding: 40px 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.cta-title {
    font-family: 'Sree Krushnadevaraya', serif;
    font-size: 5em;
    color: #70522E;
}

.fire-icon {

}

.cta-subtitle {
    font-family: 'Sree Krushnadevaraya', serif;
    font-size: 1.5em;
    color: #70522E;
}

.btn-wrapper {
    padding: 20px;
    margin-top: 80px;
}

.table-button {
    padding: 10px 30px;
    margin: 5px;
    font-family: 'Mallanna', sans-serif;
    color: #70522E;
    font-size: 1.2em;
    border: none;
    background-color: #BFA483;
}

.reserve-button {
    padding: 10px 20px;
    margin: 5px;
    font-family: 'Mallanna', sans-serif;
    color: #70522E;
    font-size: 1.2em;
    border: none;
    background-color: #BFA483;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    -webkit-transform: translate(2px, 2px);
    -moz-transform: translate(2px, 2px);
    -ms-transform: translate(2px, 2px);
    -o-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: flex-end;
}

.links-wrapper {
    font-family: 'Mallanna', sans-serif;
    color: #BFA483;
    text-decoration: none;
}

.reservation-wrapper {

}

.panel-wrapper {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.panel-heading {
    font-family: 'Mallanna', sans-serif;
    color: #70522E;
    font-size: 1.2em;
}

.panel-title {
    font-size: 1.3em;
    margin-bottom: 20px;
}

.panel-body {

}

.form-group {
    font-family: 'Mallanna', sans-serif;
    color: #70522E;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 400px;
    margin: 5px;
    font-family: 'Mallanna', sans-serif;
    color: #70522E;
    font-size: 1.2em;
    background-color: #BFA483;
    border: 0;
    padding: 5px;
}

.form-control:focus {
    outline: 0;
}